.nav-custom {
  background-color: #5e6e9e;
  height: 7vh;
  padding-left: 30px !important;
  padding-right: 2em !important;
}

.app-title {
  font-size: 22px !important;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.app-navs {
  font-size: 18px !important;
  font-weight: 500 !important;
}
