.login-form {
  left: 50%;
  top: 40%;
  width: 30vw;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(245, 244, 249);
  background-color: #5e6e9e !important;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;

  p a {
    color: #dddee3;
    text-decoration: none;
  }

  p a:hover {
    color: #919191;

  }
}